:root {
  --bg-btn-full: rgba(227, 252, 88, 1);
}

main .page-title {
  position: relative;
  left: 98vw;
  transform: translate(-100%, 0);
  display: inline-block;
  width: max-content;
  font-size: 3rem;
  background-color: var(--infoblocks);
  border-radius: 10px;
  margin: 5px;
}

.challenge__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70vh;
  margin-top: 0;
}

.challenge__question {
  position: relative;
  display: block;
  justify-content: center;
  width: 250px;
  height: 55%;
}

.challenge__picture {
  height: 77%;
  width: auto;
  background-color: var(--bg-btn-full);
  background-image: url(../../assets/png/loudspeaker1.png);
  border-radius: 10px;
  border: 1px solid var(--bg-btn-shadow);
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30%;
  margin-top: 3%;
}

.challenge__word {
  display: inline-block;
  width: max-content;
  height: 14%;
  align-items: center;
  text-align: center;
  justify-self: center;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: var(--text-day);
  margin: 2%;
  padding: 1%;
}

.challenge__variants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  margin: 30px auto;
  padding: 15px 5px;
  font-size: 2.5rem;
  color: var(--text-day);
}

.challenge__variant {
  width: max-content;
  height: 7rem;
  margin: 5px 10px;
  padding: 10px 20px;
  font-size: 2.5rem;
  line-height: 3.5rem;
  background-color: var(--bg-btn);
  border: 1px solid var(--bg-btn-shadow);
  border-radius: 10px;
}

.challenge__btn {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 15%;
  align-items: center;
  background-color: var(--bg-play-btn);
  font-size: 2.5rem;
  color: var(--text-day);
  font-family: var(--font-main-en);
  border-radius: 10px;
  border: 1px solid var(--bg-btn);
  margin: 15px auto;
  padding: 30px 20px;
}

.challenge__picture:hover,
.challenge__btn:hover,
.challenge__back:hover,
.challenge__level:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 10px var(--bg-btn-shadow);
  transition: 0.34s ease-in-out;
}

.challenge__title3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 30%;
  font-size: 6rem;
  font-family: var(--font-main-en);
}

.challenge__levels {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 500px;
  height: 30%;
}

.challenge__level {
  display: flex;
  width: 80px;
  height: 78px;
  margin: 10px 5px;
  border: solid 2px var(--bg-btn-shadow);
  border-radius: 10px;
  font-size: 5rem;
  line-height: 5rem;
  align-items: center;
  justify-content: center;
  padding: auto;
  background-color: var(--bg-btn-full);
}

.challenge__back {
  width: 25%;
  height: auto;
  background-color: var(--bg-play-btn);
  border-radius: 10px;
  border: 1px solid var(--bg-btn);
  margin: 10px auto;
}

.challenge__back a {
  display: inline-block;
  width: 100%;
  padding: 30px 10px;
  text-decoration: none;
  color: var(--text-day);
  font-size: 3.5rem;
}

/* Statistics */

.challenge__statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  background-color: var(--bg-btn);
}

.challenge__statistics__title {
  height: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 3rem;
  line-height: 3rem;
}

.challenge__statistics__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 60%;
  border-radius: 10px;
  margin: 5px auto;
}

.challenge__statistics__circle {
  width: 30%;
  height: 100%;
  background-color: var(--bg-light);
}

.challenge__statistics__words {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 70%;
  height: 100%;
  overflow: scroll;
  margin: auto auto;
}

.challenge__statistics__manage {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.challenge__statistics__back,
.challenge__statistics__continue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: auto;
  background-color: var(--bg-play-btn);
  border-radius: 10px;
  border: 1px solid var(--bg-btn);
  margin: 10px auto;
}

.challenge__statistics__back:hover,
.challenge__statistics__continue:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 10px var(--bg-btn-shadow);
  transition: 0.34s ease-in-out;
}

.challenge__statistics__back a {
  display: inline-block;
  width: 100%;
  padding: 25px 10px;
  text-decoration: none;
  color: var(--text-day);
  font-size: 3rem;
}

.challenge__statistics__continue {
  font-size: 3rem;
  color: var(--text-day);
  font-family: var(--font-main-en);
  padding: 25px 10px;
}

.challenge__words-right,
.challenge__words-wrong {
  font-size: 3rem;
}

.challenge__result-word {
  display: flex;
  justify-content: left;
  height: 3.5rem;
  width: 100%;
}

.challenge__the-word {
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: 2.5rem;
}

.challenge__statistics-loudspesker {
  height: 90%;
  width: 30px;
  margin: auto 20px;
  background-color: var(--bg-btn-full);
  background-image: url(../../assets/png/loudspeaker1.png);
  border-radius: 10px;
  border: 1px solid var(--bg-btn-shadow);
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30%;
}

/* diagram */

.chart-text {
  fill: var(--text-day);
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}
.chart-number {
  font-size: 1rem;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}
.chart-label {
  font-size: 1rem;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

@media screen and (min-width: 1101px) and (max-width: 1400px) {

  .challenge__back {
    width: 30%;
  }

  .challenge__level {
    height: 80px;
  }

  .challenge__statistics {
    width: 100%;
  }

  .challenge__statistics__words {
    display: block;
    padding-left: 30px;
  }

}

@media screen and (min-width: 701px) and (max-width: 1100px) {

  .challenge__back {
    width: 30%;
  }

  .challenge__level {
    width: 75px;
    height: 65px;
  }

  .challenge__variant {
    padding: 10px 15px;
  }

  .challenge__btn {
    width: 30%;
    height: 15%;
    padding: 10px 20px;
  }

  .challenge__statistics {
    width: 100%;
  }

  .challenge__statistics__words {
    display: block;
    padding-left: 30px;
  }

}

@media screen and (min-width: 301px) and (max-width: 700px) {

  .challenge__back {
    width: 40%;
    margin: 0 auto;
  }

  .challenge__levels {
    width: 95%;
    max-width: 400px;
  }

  .challenge__level {
    width: 18%;
    height: 60px;
  }

  .challenge__btn {
    width: 35%;
    height: 15%;
    padding: 10px 20px;
  }

  .challenge__statistics {
    width: 100%;
  }

  .challenge__statistics__words {
    display: block;
    padding-left: 30px;
  }

}
