.button-up {
  background: #17181c;
  border: 2px solid #30c5ff;
  text-transform: uppercase;
  color: #70d6ff;
  height: 5vh;
  width: 70px;
  bottom: 7%;
  right: 4%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  transition: 1s;
  opacity: .8;
  text-decoration: none;
  border-radius: 5px;
  z-index: 2;
}

.button-up:hover{
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
}

.flex{
  display: flex;
}

.hide.hide{
  display: none;
}
