.button-up {
  background: #17181c61;
  border: 3px solid var(--bg-dark);
  text-transform: uppercase;
  color: var(--bg-btn);
  height: 5vh;
  width: 70px;
  bottom: 10%;
  right: 4%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  transition: 1s;
  opacity: .8;
  text-decoration: none;
  border-radius: 5px;
}

.button-up:hover{
  border-color: var(--bg-btn);
  color: var(--bg-dark);
  box-shadow: 0 0.5em 0.5em -0.4em var(--bg-btn);
}

.button-up > span {
  font-size: 2rem;
}

.flex{
  display: flex;
}

.hide.hide{
  display: none;
}
