h2 {
  text-align: center;

}
.wrapper-block-words {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.block-of-words {
  width: 30%;
  height: 100%;
  margin: 1%;
  border-radius: 5px;
  box-shadow: 8px 6px 8px 0px rgb(60 53 63 / 56%);
  background: #a7c4c138;
}
